#userItems {
  --sb-track-color: #3b4448;
  --sb-thumb-color: #4f46e5bf;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

#userItems::-webkit-scrollbar {
  width: var(--sb-size);
}

#userItems::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

#userItems::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
